.header
  .header_top
    .header_top_box
      .header_top_box_logo
        = link_to root_path, class: "header_top_box_logo" do
          Logo
      .header_top_box_right
        .header_top_box_right_serch
          .header_top_box_right_serch_btn
            = icon('fas', 'search')
        .header_top_box_right_login
          .header_top_box_right_login_bbtn
            = link_to new_user_session_path, class: "header_top_box_right_login_bbtn" do
              ログイン
        .header_top_box_right_enter
          .header_top_box_right_enter_bttn
            .header_top_box_right_enter_bttn_ety
              = link_to new_user_registration_path, class: "header_top_box_right_enter_bttn_ety" do
                新規登録
  .header_menu
    .header_menu_boxx
      .header_menu_boxx_menus
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            募集中
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            おすすめ
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            サークル
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_me-one
            マガジン
        .header_menu_boxx_menus_bar-two
          .header_menu_boxx_menus_bar-two_me-two
            注目カゴテリ
        .header_menu_boxx_menus_bar-two
          .header_menu_boxx_menus_bar-two_me-two
            人気タグ⬇️
        .header_menu_boxx_menus_bar
          .header_menu_boxx_menus_bar_question

      .header_menu_boxx_tag
        .header_menu_boxx_tag_catego
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              マンガ
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              アニメ
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              ゲーム
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              映画
          .header_menu_boxx_tag_catego_catebar
            .header_menu_boxx_tag_catego_catebar_ctg
              動画
              
        .header_menu_boxx_tag_catego-right
          .header_menu_boxx_tag_catego-right_catebar-right
            .header_menu_boxx_tag_catego-right_catebar-right_ctg-right
              すべて⬇️
  