.header
  .header_top
    .header_top_box
      .header_top_box_logo
        Logo
      .header_top_box_right
        ログイン
  .header_menu
    .header_menu_boxx
      .header_menu_boxx_menus
        menu
      .header_menu_boxx_catego
        catego
  