.main
  .main_boxies
    .main_boxies_top
      .main_boxies_top_osusume
        編集部のおすすめ
    .main_boxies_note
      .main_boxies_note_left
        .main_boxies_note_left_flame
          .main_boxies_note_left_flame_first
            .main_boxies_note_left_flame_first_itembox
              .main_boxies_note_left_flame_first_itembox_phot
              .main_boxies_note_left_flame_first_itembox_title
                .main_boxies_note_left_flame_first_itembox_title_titlebox
                  title
              .main_boxies_note_left_flame_first_itembox_name
                .main_boxies_note_left_flame_first_itembox_name_like
                  .main_boxies_note_left_flame_first_itembox_name_like_heart
                    = icon('far', 'heart')
                  .main_boxies_note_left_flame_first_itembox_name_like_count
                    32
                .main_boxies_note_left_flame_first_itembox_name_namebox
                  name
          .main_boxies_note_left_flame_second
            .main_boxies_note_left_flame_second_itemboxx
              .main_boxies_note_left_flame_second_itemboxx_lefttext
                .main_boxies_note_left_flame_second_itemboxx_lefttext_titles
                  仮のタイトル入力ですです。
                .main_boxies_note_left_flame_second_itemboxx_lefttext_names
                  .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes
                    .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes_hearts
                      = icon('far', 'heart')
                    .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes_counts
                      12
                  .main_boxies_note_left_flame_second_itemboxx_lefttext_names_nameboxes
                    name
              .main_boxies_note_left_flame_second_itemboxx_phots

          .main_boxies_note_left_flame_second
            .main_boxies_note_left_flame_second_itemboxx
              .main_boxies_note_left_flame_second_itemboxx_lefttext
                .main_boxies_note_left_flame_second_itemboxx_lefttext_titles
                  仮のタイトル入力ですです。二個目。
                .main_boxies_note_left_flame_second_itemboxx_lefttext_names
                  .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes
                    .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes_hearts
                      = icon('far', 'heart')
                    .main_boxies_note_left_flame_second_itemboxx_lefttext_names_likes_counts
                      12
                  .main_boxies_note_left_flame_second_itemboxx_lefttext_names_nameboxes
                    name
              .main_boxies_note_left_flame_second_itemboxx_phots

      .main_boxies_note_riright
        riright