.main
  .main_boxies
    .main_boxies_top
      .main_boxies_top_osusume
        編集部のおすすめ
    .main_boxies_note
      .main_boxies_note_left
        left
      .main_boxies_note_riright
        riright