.main
  .main_boxies
    .main_boxies_top
      .main_boxies_top_osusume
        編集部のおすすめ
    .main_boxies_note
      .main_boxies_note_left
        .main_boxies_note_left_flame
          .main_boxies_note_left_flame_first
            .main_boxies_note_left_flame_first_itembox
              .main_boxies_note_left_flame_first_itembox_phot
                first
              .main_boxies_note_left_flame_first_itembox_title
                title
              .main_boxies_note_left_flame_first_itembox_name
                name
          .main_boxies_note_left_flame_second
            .main_boxies_note_left_flame_second_itemboxx
              second
              .main_boxies_note_left_flame_second_itemboxx_phots
              .main_boxies_note_left_flame_second_itemboxx_titles
              .main_boxies_note_left_flame_second_itemboxx_names
      .main_boxies_note_riright
        riright