.show-sai
  .show-sai_main
    .show-sai_main_center
      .show-sai_main_center_image
      .show-sai_main_center_titlebox
        = @note.title
      .show-sai_main_center_likebox
      .show-sai_main_center_namebox
        = @note.user.name
      .show-sai_main_center_textbox
        = @note.text