.show-sai
  .show-sai_main
    .show-sai_main_center
      .show-sai_main_center_image
      .show-sai_main_center_titlebox
      .show-sai_main_center_likebox
      .show-sai_main_center_namebox
      .show-sai_main_center_textbox