.sign-header
  .sign-header_header-box
    .sign-header_header-box_logo
      = link_to root_path, class: "sign-header_header-box_logo" do
        LOGO
    .sign-header_header-box_etc
      ログインはこちら
      