* {
  box-sizing: border-box;
}

.header{
  &_top{
    height: 64px;
    &_box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      &_logo{
        font-size: 25px;
        font-weight: bold;
        height: 25px;
        width: 98px;
      }
      &_right{
        width: 240px;
        height: 40px;
        display: flex;
        &_serch{
          height: 32px;
          width: 40px;
          margin-left: 16px;
          display: flex;
          align-items: center;
          &_btn{
            padding-left: 16px;
            cursor: pointer;
            color: rgb(120, 124, 123);
          }
        }
        &_login{
          height: 32px;
          width: 80px;
          margin-left: 16px;
          display: flex;
          align-items: center;
          &_bbtn{
            font-size: 12px;
            font-weight: 600;
            color: rgb(120, 124, 123);
            cursor: pointer;
            padding-left: 16px;
          }
        }
        &_enter{
          height: 32px;
          width: 80px;
          margin-left: 16px;
          &_bttn{
            height: 32px;
            width: 80px;
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            align-items: center;
            background-color: rgb(44, 182, 150);
            border-radius: 4px;
            &_ety{
              font-size: 12px;
              font-weight: 600;
              cursor: pointer;
              color: #ffffff;
            }
          }
          &_bttn:hover{
            background-color: rgb(15, 129, 102);
          }
        }
      }
    }
  }
  &_menu{
    border-bottom: 1px solid lightgray;
    &_boxx{
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      height: 102px;
      &_menus{
        height: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        display: flex;
        justify-content: start;
        &_bar{
          height: 48px;
          width: 100px;
          display: flex;
          align-items: center;
          padding-left: 16px;
          padding-right: 16px;
          &_me-one{
            font-size: 14px;
            cursor: pointer;
            color: rgb(34, 34, 34);
            font-weight: 500;
          }
        }
        &_bar-two{
          height: 48px;
          width: 116px;
          display: flex;
          align-items: center;
          padding-left: 16px;
          padding-right: 16px;
          &_me-two{
            font-size: 14px;
            cursor: pointer;
            color: rgb(34, 34, 34);
            font-weight: 500;
          }
        }
      }

      &_tag{
        display: flex;
        justify-content: start;
        &_catego{
          height: 48px;
          display: flex;
          justify-content: start;
          &_catebar{
            height: 48px;
            width: 100px;
            display: flex;
            align-items: center;
            padding-left: 16px;
            padding-right: 16px;
            &_ctg{
              font-size: 14px;
              cursor: pointer;
              color: rgb(120, 124, 123);
              font-weight: 500;
            }
          }
        }
        &_catego-right{
          width: 100%;
          display: flex;
          justify-content: flex-end;
          &_catebar-right{
            height: 48px;
            width: 116px;
            display: flex;
            align-items: center;
            padding-left: 16px;
            padding-right: 16px;
            &_ctg-right{
              font-size: 14px;
              cursor: pointer;
              color: rgb(120, 124, 123);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.main{
  &_boxies{
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    &_top{
      width: 100%;
      margin-bottom: 16px;
      height: 79px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
      &_osusume{
        font-weight: 700;
        font-size: 20px;
        
      }
    }
    &_note{
      display: flex;
      &_left{
        width: 610px;
        &_flame{
          margin-top: 16px;
          &_first{
            height: 443px;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #e6e6e6;
            &_itembox{
              cursor: pointer;
              &_phot{
                height: 319px;
                margin-bottom: 24px;
                border: none;
                border-radius: 4px;
              }
              &_title{
                margin-bottom: 8px;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: .04em;
                font-size: 22px;
              }
              &_name{
                display: flex;
                flex-wrap: wrap;
                font-size: 14px;
              }
            }
          }
          &_second{
            height: 145px;
            border-bottom: 1px solid #e6e6e6;
          }
        }
      }
      &_riright{
        margin-left: 46px;
        width: 290px;
      }
    }
  }
}

