* {
  box-sizing: border-box;
}

.header{
  &_top{
    height: 64px;
    &_box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      &_logo{
        font-size: 25px;
        font-weight: bold;
        height: 25px;
        width: 98px;
      }
      &_right{
        width: 240px;
        height: 40px;
        display: flex;
        &_serch{
          height: 32px;
          width: 40px;
          margin-left: 16px;
          display: flex;
          align-items: center;
          &_btn{
            padding-left: 16px;
            cursor: pointer;
            color: rgb(120, 124, 123);
          }
        }
        &_login{
          height: 32px;
          width: 80px;
          margin-left: 16px;
          display: flex;
          align-items: center;
          &_bbtn{
            font-size: 12px;
            font-weight: 600;
            color: rgb(120, 124, 123);
            cursor: pointer;
            padding-left: 16px;
          }
        }
        &_enter{
          height: 32px;
          width: 80px;
          margin-left: 16px;
          &_bttn{
            height: 32px;
            width: 80px;
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            align-items: center;
            background-color: rgb(44, 182, 150);
            border-radius: 4px;
            &_ety{
              font-size: 12px;
              font-weight: 600;
              cursor: pointer;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  &_menu{
    border-bottom: 1px solid lightgray;
    &_boxx{
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      height: 102px;
      &_menus{
        height: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        font-size: 20px;
      }
      &_catego{
        font-size: 20px;
      }
    }
  }
}

.main{
  &_boxies{
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    &_top{
      width: 100%;
      margin-bottom: 16px;
      height: 79px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
      &_osusume{
        font-weight: 700;
        font-size: 20px;
        
      }
    }
    &_note{
      display: flex;
      &_left{
        width: 610px;
      }
      &_riright{
        margin-left: 46px;
        width: 290px;
      }
    }
  }
}

